.header {
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 7rem;
  overflow: hidden;
  min-height: fit-content !important;

  .img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text-holder {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: #fff;
    gap: 72px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    h1 {
      grid-column: span 12;
      font-weight: 400;
      width: 100%;
      margin-top: 13.5rem;

      font-size: clamp(2.2rem, 4vw, 5rem);
      line-height: 1.24;
      text-transform: uppercase;
      letter-spacing: 16.6px;
    }
    .text {
      grid-column: span 4;
      h3 {
        margin-bottom: 20px;
        opacity: 0.6;
        font-size: 18px;
        letter-spacing: 4px;
      }
      p {
        letter-spacing: 4.8px;
        font-size: clamp(0.5rem, 2vw, 1rem);
        line-height: 1.5;
      }
    }
  }
  @media screen and (max-width: 971px) {
    .text {
      grid-column: span 6 !important;
    }
  }
  @media screen and (max-width: 828px) {
    padding: 1.5rem;

    .text-holder {
      h1 {
        letter-spacing: 5px;
      }
      .text {
        grid-column: span 12 !important;
      }
    }
  }
}
